/* LOGIN PAGE */
.login-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(skyblue, white);
}

.login-box {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 30px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.login-box p {
    margin-top: 20px;
}

.login-box a {
    color: blue;
}
