* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;


}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.navbar {
    max-width: 100%;
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    /* background-image: linear-gradient(white,skyblue); */
    border-radius: 1px solid black;
    border-radius: 20px;

}

nav {
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;

}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:hover {
    color: blue;
    transition: 0.3s;
    transform: scale(1.10);
}

.sub {
    display: flex;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: aqua;
}

nav ul li {}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: cornsilk; */
    padding-left: 40px;
    padding-right: 40px;
    /* border: 1px solid cornsilk;
    border-radius: 20px; */
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;

}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aqua;
    padding: 8px 30px;

}

.header {
    background: linear-gradient(skyblue, white, skyblue);
}

.code {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 100px;
    gap: 30px;
    margin: 20px;
    min-width: 200px;
}

.code img {
    width: 100%;
}

.sub1 {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.c {
    margin: 10px;
}
img {
    max-width: 100%;
    height: auto;
}


.title {
    text-align: center;
    padding: 20px;
    position: relative;
    line-height: 60px;


}

.title::after {
    content: '';
    background: red;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.h4 {
    font-weight: lighter;
}

.offer {
    background: radial-gradient(white, skyblue);
    
    
}

.col-2 ruff img {
    padding: 50px;
}

.test .col-3 {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    gap: 20px;

}

.test .col-3:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

img:hover {
    transform: translateY(-10px);
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;

}

@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
        overflow: hidden;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width:600px) {
    .row {
        text-align: center;
    }

    .col-2,
    .col-3 {
        flex-basis: 100%;
    }

    .navbar {
        padding: 20px;
    }
}
